@import '_ply.vars.scss';
@import '_ply.class.scss';
@import 'ply.home.scss';
@import 'ply.chord.scss';

body {
	outline: none !important;
	background: $ply-grey-light;
	::selection {
		background: $ply-pink;
		color: $ply-white;
	}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.md-select-menu-container {
	min-width:65px;
	md-select-menu md-content {
		min-width: 1px;
		.ply-language-picker-option {
			.md-text {
				width: 65px; 
			}
		}
	}
}


.ply-app {
	#plyContent {
		background: $ply-grey-light;
		.ply-main-container {
			margin-top: 70px; 
			&.sidebar-open {
			}
			
			.ply-fab {
				position: fixed;
				bottom:15px;
				.ply-fab-more {
					padding: 15px; 
				}
				&.fab-left {
					left:25px;
				}
				&.fab-right {
					right:15px;
				}
				.ply-fab-icon {
					fill: #ffffff;
					display: flex;
					&.ply-fab-icon-dark {
						fill: #212121;
					}
				}	
				.md-fab-action-item {
					a { 
						display: flex;
					}
						
				}
			}
		}
	}

	.rating {
	  margin: 0;
	  padding: 0;
	  display: inline-block;
	  
	  li {
	    padding: 1px;
	    color: #ddd;
	    font-size: 20px;
	    list-style-type: none;
	    display: inline-block;
	    cursor: pointer;
	    &.filled {
	      color: $ply-yellow;
	    }
	  }
	}

	.footer { 
		background: $ply-grey-light;
		.ply-alert-container {
			float:right;
			width: 30%;
		}
	}	
}

.ply-switch {
	.md-bar {
		background-color: $ply-divider;
	} 
}


md-toast {
	background-color: #727272;
	color: #FFFFFF;
	position: fixed;
}

ply-spinner {
	md-progress-circular {
		z-index:1000;		
		position: absolute;
		top:50%;
		left:50%;	
	}
}