@import '_ply.vars.scss';

text-size-slider {
  direction: ltr;
  text-align: center;
  .text-size-slider {
    line-height: 100%;
    font-size: 14px;
  }

  .text-size-slider .small-letter,.text-size-slider .big-letter
  {
    font-weight: bold;
  }

  .text-size-slider .slider {
    -webkit-appearance: none;
    display: inline;
  }

  .text-size-slider .slider:focus {
    outline: none;
  }

  .text-size-slider .slider::-webkit-slider-thumb {
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: $ply-pink;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: -6px;

  }

  .text-size-slider .slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: $ply-grey-light;
    border: 0;
  }

}  
