<ul class='rating' ng-class='{readonly: readonly}'>
<li ng-repeat='star in stars' ng-class='star' 
		ng-click='toggle($index)'>
	<i class='fa fa-star'></i>
</li>
</ul>
<p class='help-block' 
	 ng-if='chord.countRating && !hasRated'>
	 <span>{{::chord.countRating}}</span>
	 <span translate=".COUNT_RATING_MESSAGE"></span>
</p>