<div id="metronome" 
     translate-namespace="metronome">
  <md-card layout-align="center" class="ply-search-results">
    <md-card-content>
    <div metronome>
        <div class="bodyUpper">
            <div wand ng-class="{swingLeft: swingLeft, swingRight: swingRight, swingToCenter: swingToCenter}" style="
                        transition-duration: {{getWandSwingTransitionDuration()}};
                        -webkit-transition-duration: {{getWandSwingTransitionDuration()}};
                        -moz-transition-duration: {{getWandSwingTransitionDuration()}};
                        -o-transition-duration: {{getWandSwingTransitionDuration()}}">
                <div bob-drag-region>
                    <a bob></a>
                </div>
            </div>
        </div>
        <div class="bodyLower">
            <form ng-submit="toggleMetronome()" novalidate name="metronomeForm">
                <div>
                    <label class="tempoLabel" for="bpm">Tempo:</label>
                    <span bpm-error ng-show="metronomeForm.bpm.$invalid">{{getInputErrorText()}}</span>
                    <input type="number" ng-model="bpm" id="bpm"
                             class="tempoInput" name="bpm" ng-change="handleBpmChange(bpm)" />
                    <button type="submit" class="toggleBtn"
                                    ng-class="{depressed: started}">
                        <span ng-show="started">Stop</span>
                        <span ng-show="!started">Start</span>
                    </button>
                </div>
            </form>
            <a class="credit" target="_blank" href="http://ezekielvictor.com/">Metronome by Ezekiel Victor</a>
        </div>
    </div>
    </md-card-content>
  </md-card>
</div>