<!doctype html>

<html ng-app="playalongWebApp" ng-cloak dir="{{app.dir}}">
  <head>
    <!-- Facebook Metatags -->
    <meta property="og:title" content="Playalong - Amazing Chords" />
    <meta property="og:site_name" content="Playalong"/>
    <meta property="og:url" content="https://www.playalong.io" />
    <meta property="og:description" content="Playalong is an awesome chord editing and playing app" />
    <meta property="fb:app_id" content="541650972649460" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="he_HE" />
    <meta property="og:image" content="https://www.playalong.io/images/plyIcon.png" />

    <meta charset="utf-8">
    <title ng-bind="pageTitle">Playalong</title>
    <meta name="description" content="Playalong is an awesome chord editing and playing app">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable = no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/textAngular/dist/textAngular.css" />
    <link rel="stylesheet" href="bower_components/flag-icon-css/css/flag-icon.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- endbuild -->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66639324-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- WalkMe -->
    <script type="text/javascript">(function() {var walkme = document.createElement('script'); walkme.type = 'text/javascript'; walkme.async = true; walkme.src = 'https://cdn.walkme.com/users/1c83059565204d8fb80637d97beae8a7/walkme_1c83059565204d8fb80637d97beae8a7_https.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(walkme, s); window._walkmeConfig = {smartLoad:true}; })();</script>

    <!-- AppSumo-->
    <script src="//load.sumome.com/" data-sumo-site-id="16c54b37ca6f117d5bf5a6b3b8f719481d6e3c91ec2775bc2ada2c4646a4cb20" async="async"></script>


    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1475826812725401');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1475826812725401&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
    mixpanel.init("6675a9dcba297bd681275790e47d8d5f");</script><!-- end Mixpanel -->
  </head>
  <body>
    
    <!-- Eager -->
    <script src="//fast.eager.io/IS9OQXqCKz.js"></script>
    
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KRKGTZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KRKGTZ');</script>
    <!-- End Google Tag Manager -->

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=541650972649460";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End - Facebook init -->

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
    <!-- End-Twitter -->


  <div  ng-controller="MainCtrl"
        layout="column" class="ply-app"
        ng-class="{'hebrew-sans': app.dir === 'rtl'}">
    <ply-spinner id="plyMainSpinner" trigger-start-event="startSpin" trigger-stop-event="stopSpin"></ply-spinner>
    <ply-sidebar></ply-sidebar>
    <nav ng-include="'views/templates/toolbar.html'"></nav>
      <md-content id="plyContent" flex>
        <main ui-view class="ply-main-container container"></main>
      </md-content>
    <footer ng-include="'views/templates/footer.html'" class="footer">
      <alert class="ply-alert-container" ng-repeat="alert in allAlerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </footer>
  </div>
    <script src="env.js"></script>
    <script src="pages/tuner/dsp.js"></script>   

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
    <script src="bower_components/messageformat/messageformat.js"></script>
    <script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
    <script src="bower_components/playalong.services/dist/scripts/scripts.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/rangy/rangy-core.js"></script>
    <script src="bower_components/rangy/rangy-classapplier.js"></script>
    <script src="bower_components/rangy/rangy-highlighter.js"></script>
    <script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
    <script src="bower_components/rangy/rangy-serializer.js"></script>
    <script src="bower_components/rangy/rangy-textrange.js"></script>
    <script src="bower_components/textAngular/dist/textAngular.js"></script>
    <script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
    <script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script src="bower_components/raphael/raphael.js"></script>
    <script src="bower_components/justgage-bower/justgage.js"></script>
    <script src="bower_components/angular-gage/dist/angular-gage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- ply-components -->
    <script src="components/ply-youtube/ply-youtube.module.js"></script>

    <!-- ply-form-elements -->
    <script src="components/ply-form-elements/ply-form-elements.module.js"></script>
    <script src="components/ply-form-elements/ply-text-input.js"></script>

    
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/sidebar.js"></script>
    <script src="pages/home/home.js"></script>
    <script src="scripts/controllers/chord.js"></script>
    <script src="scripts/controllers/builder.js"></script>
    <script src="scripts/config/config.route.js"></script>
    <script src="scripts/config/config.constants.js"></script>
    <script src="scripts/config/config.themes.js"></script>
    <script src="scripts/config/config.run.js"></script>
    <script src="scripts/directives/star-rating.js"></script>
    <script src="scripts/controllers/topchords.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/toast.js"></script>
    <script src="scripts/directives/plyspinner.js"></script>
    <script src="scripts/directives/hideonmobile.js"></script>
    <script src="scripts/services/common.js"></script>
    <script src="scripts/directives/autoscroll.js"></script>
    <script src="scripts/controllers/autoscroll.js"></script>
    <script src="scripts/directives/autoscroll-widget.js"></script>
    <script src="scripts/directives/angular-text-slider.js"></script>
    <script src="scripts/services/plytooltip.js"></script>
    <script src="scripts/directives/plylanguagepicker.js"></script>
    <script src="scripts/controllers/plylanguagepicker.js"></script>
    <script src="scripts/controllers/favorites.js"></script>
    <script src="scripts/directives/plyfavoritebtn.js"></script>
    <script src="scripts/controllers/plyfavoritebtn.js"></script>
    <script src="scripts/directives/plydisqus.js"></script>
    <script src="pages/tuner/tuner.controller.js"></script>
    <script src="pages/tuner/AudioContextMonkeyPatch.js"></script> 
    <script src="components/metronome/buzz.min.js"></script>
    <script src="components/metronome/metronome.module.js"></script>



    <!-- endbuild -->


    <!-- Customer IO -->
    <script type="text/javascript">
      var _cio = _cio || [];

      (function() {
        var a,b,c;a=function(f){return function(){_cio.push([f].
        concat(Array.prototype.slice.call(arguments,0)))}};b=["identify",
        "track"];for(c=0;c<b.length;c++){_cio[b[c]]=a(b[c])};
        var t = document.createElement('script'),
            s = document.getElementsByTagName('script')[0];
        t.async = true;
        t.id    = 'cio-tracker';
        t.setAttribute('data-site-id', 'a003ae985929496a12c5');
        t.src = 'https://assets.customer.io/assets/track.js';
        s.parentNode.insertBefore(t, s);
      })();
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5658debf5ced5f6455f43649/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>
