<div id="favorites" 
     translate-namespace="favorites">
  <md-card layout-align="center" class="ply-search-results">
    <md-card-content>
      
      <div ng-if="fav.login.isLoggedIn() && !!fav.favorites">
        <h3 translate=".TITLE"></h3>
        <md-list>
          <md-list-item class="md-2-line clickable"  ng-repeat="favorite in fav.favorites track by $index" >
            <div  class="md-list-item-text" 
                  ng-click="goToChordPage(favorite.chordKey)"> 
              <h3 ng-bind="favorite.artist"></h3>
              <p ng-bind="favorite.title"></p>
            </div>
            <md-divider ></md-divider>
          </md-list-item>  
        </md-list>
      </div>
      <div class="ply-overlay ply-relative" ng-if="!fav.login.isLoggedIn()">
        <div class="jumbotron ply-transparent text-center ply-white">
          <h1 translate=".LOGIN_TITLE"></h1>  
        </div>
      </div>
      <div ng-if="fav.login.isLoggedIn() && !fav.favorites">
        <div class="jumbotron ply-transparent text-center">
          <h2 translate=".NO_FAVORITES"></h2>  
        </div>
      </div>  
    </md-card-content>
  </md-card>
</div>