<div id="tuner" 
     translate-namespace="tuner">
    <md-card layout-align="center" class="ply-search-results">
      <md-card-content>
        
        <div>
          <h3 translate=".TITLE"></h3>
          <h5>View horizontally for mobile devices</h5>
          <div id="tunerViewContainer">
          <div layout="row">
            <div id="noteViewContainer">
                <div id="tuneArrowLeft"></div>
                <div id="noteView">E</div>
                <div id="tuneArrowRight"></div>
            </div>
          </div>
          
            <div id="tunerView">
              <div id="needle2"></div>
              <div id = "tick_0" ></div>
              <div id="tick_1"></div>
              <div id="tick_-1"></div>
              <div id="tick_2"></div>
              <div id="tick_-2"></div>
              <div id="tick_3"></div>
              <div id="tick_-3"></div>
              <div id="tick_4"></div>
              <div id="tick_-4"></div>
              <div id="tick_5" ></div>
              <div id="tick_-5"></div><div id="tick_6"></div><div id="tick_-6"></div><div id="tick_7"></div><div id="tick_-7"></div>
            </div>

            
            <h2>{{noteFreq}} Hz</h2>
          </div>

          <div id="playPauseContainer" style="display:none;">
              <div id="playPause" ng-class="{true:'pause', false:'play'}[playing==true]" ng-click="playPause()">  
              </div>
          </div>
        </div>    
      </md-card-content>
    </md-card>
</div>